body{
    background-image: url("racing_track.jpg");
    background-position: center;
    background-size: cover;
}

#myCanvas{
    margin-top: 30px;
	  border-width:10px;
	  background-color:white; 
	  border-style:ridge;
}

h1,h4
{
	color: black !important;
}
